[2020-08-14 19:17] dhairyaj opened #5 "Change the color scheme"

[2020-08-14 19:18] dhairyaj opened #6 "add the edit functionality for the added fields"

[2020-08-14 19:20] dhairyaj opened #7 "change the position of the edit/add/remove buttons"

[2020-08-14 19:32] frankhart2018 opened #8 "Highlight on empty form"

[2020-08-14 19:34] frankhart2018 opened #9 "Add client side validation"

[2020-08-14 19:36] frankhart2018 opened #10 "[FEATURE]Change date format"
**Describe the solution you'd like**
The date format by default is dd/mm/yyyy. The expected format is mm/yyyy.

<strong>Note:</strong> You only start working on the feature if a maintainer approves that request in discussion.

[2020-08-14 19:36] frankhart2018 opened #11 "Safari date input issue"

[2020-08-15 08:50] #8 closed

[2020-08-15 08:51] dhairyaj commented on #8
Code is commented and merged in master

[2020-09-09 14:30] frankhart2018 opened #14 "[BUG] The profile picture field does not show selected file's name"
The profile picture field does not show name of selected file in the front end. Not working in safari and even chrome.

[2020-09-14 12:20] dhairyaj commented on #14
Completed and handed over for backend completion

[2020-09-14 12:20] #14 closed

[2020-09-16 17:02] Ashmn07 commented on #10
Where exactly do we have to change it?

[2020-09-16 19:08] dhairyaj commented on #10
@Ashmn07 the date is present in almost all the pages. Refer to the code.
The default format is dd/mm/yyyy. We need it to be mm/yyyy

[2020-09-21 13:45] dhairyaj commented on #6
Removed the field disability to edit the content instead of adding a button

[2020-09-21 13:45] #6 closed

[2020-09-21 13:46] dhairyaj commented on #7
Completed and aligned to right

[2020-09-21 13:46] #7 closed

[2020-09-24 13:16] NirmalKumarJoshi opened #16 "[BUG] The directory doesn't contains requirements.txt. Not able to install the dependencies"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-24 13:20] frankhart2018 commented on #16
Hey @NirmalKumarJoshi we are in the process of wrapping up the initial build of this thing. Will be adding requirements.txt soon. Thanks for reaching out.

[2020-09-24 13:20] #16 closed

[2020-09-24 13:23] NirmalKumarJoshi commented on #16
Sure @frankhart2018 I was willing to contribute in this project. :)

[2020-09-24 13:34] frankhart2018 commented on #16
Sure would love that. Just give us some time before we wrap up the initial build. We will be open to contributions from first of October.

[2020-09-25 10:15] dhairyaj opened #17 "[FEATURE] Add currently working here (present) option in work experience page"
**Describe the solution you'd like**
Add a checkbox for the end date and as soon as the checkbox is ticked, the end date option gets disabled.
Previously: (startdate)20/09/2017 - (enddate)some future date
Expected: (startdate)20/09/2017 - (enddate)Present

<strong>Note:</strong> You can start working on the feature only if a maintainer approves the UI (screenshot) in this discussion thread.

[2020-09-25 10:17] dhairyaj opened #18 "[FEATURE] Add currently working (present) option for project page"
**Describe the solution you'd like**
Add a checkbox for the end date and as soon as the checkbox is ticked, the end date option gets disabled.
Previously: (startdate)20/09/2017 - (enddate) some future date
Expected: (startdate)20/09/2017 - (enddate) Present

Note: You can start working on the feature only if a maintainer approves the UI (screenshot) in this discussion thread.

[2020-09-25 11:11] dhairyaj opened #19 "[FEATURE]Clone this template into HTML (template4)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/12Ctq4n_KsK3AWW6XX-ORf4WmSWFMBjwk/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:13] dhairyaj opened #20 "[FEATURE] Clone this template into LATEX (template4)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/12Ctq4n_KsK3AWW6XX-ORf4WmSWFMBjwk/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:16] dhairyaj opened #21 "[FEATURE]Clone this template into HTML (template5)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1_kUKnZRWidN7HtreWrgMxj7-ATmUhv7e/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:18] dhairyaj opened #22 "[FEATURE]Clone this template into LATEX (template5)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1_kUKnZRWidN7HtreWrgMxj7-ATmUhv7e/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:19] RamishKH commented on #21
I would like to work on this issue.

[2020-09-25 11:19] dhairyaj opened #23 "[FEATURE]Clone this template into HTML (template6)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1V29966g0Yij-ycELmN1FOW4i_kTSKCef/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:20] dhairyaj opened #24 "[FEATURE]Clone this template into LATEX (template6)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1V29966g0Yij-ycELmN1FOW4i_kTSKCef/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:21] siddharthaml commented on #19
Hey can I work on the HTML version of this template?

[2020-09-25 11:22] dhairyaj opened #25 "[FEATURE]Clone this template into HTML (template7)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1xuBZGV9k-NxpvK7z7s-uwlUnbJiyeSng/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:22] frankhart2018 commented on #21
Sure @RamishKH. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-25 11:23] frankhart2018 commented on #19
Sure @siddharthaml . Assigning this to you. Thanks for showing interest to contribute.

[2020-09-25 11:23] dhairyaj opened #26 "[FEATURE]Clone this template into LATEX (template7)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1xuBZGV9k-NxpvK7z7s-uwlUnbJiyeSng/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:24] abhinitrpr commented on #19
Can I do this ...?

[2020-09-25 11:25] Xetaphore commented on #25
I would like to work on this template.
Thanks.

[2020-09-25 11:26] frankhart2018 commented on #19
Sorry @abhinitrpr it is already assigned to @siddharthaml. Please choose another template. Thanks for showing your interest to contribute. More issues are coming up, do check them out.

[2020-09-25 11:26] dhairyaj opened #27 "[FEATURE]Clone this template into HTML (template8)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1RhgxW80Om40nYZfVfGo_dkJ3oiUva-MB/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:27] frankhart2018 commented on #25
Sure @Xetaphore. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-25 11:29] dhairyaj opened #28 "[FEATURE]Clone this template into LATEX (template8)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1RhgxW80Om40nYZfVfGo_dkJ3oiUva-MB/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:30] hendraaagil commented on #23
Can I work on the HTML version of this template?

[2020-09-25 11:30] dhairyaj opened #29 "[FEATURE]Clone this template into HTML (template9)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1Wwk5ughd5Og5hbOyLGoIXv-JKU85Beqp/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:30] frankhart2018 commented on #23
Sure @hendraaagil. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-25 11:31] dhairyaj opened #30 "[FEATURE]Clone this template into LATEX (template9)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1Wwk5ughd5Og5hbOyLGoIXv-JKU85Beqp/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:33] Xetaphore commented on #26
I would like to take this issue.
Thanks.

[2020-09-25 11:33] siddharthaml commented on #20
Hey, can I do the latex version of this template too? Got assigned to the html version.

[2020-09-25 11:36] dhairyaj commented on #26
Alright, @Xetaphore . This issue would be assigned to you. Thanks for showing interest and remember to start this, to keep updated with the activities going on in this repository.

[2020-09-25 11:37] dhairyaj commented on #20
Alright, @siddharthaml  . This issue would be assigned to you. Thanks for showing interest and remember to start this, to keep updated with the activities going on in this repository.

[2020-09-25 11:38] frankhart2018 opened #31 "[FEATURE] Change social links from static fields to dynamic dropdowns."
**Describe the solution you'd like**
Currently a user can provide only 6 social links in 6 static input fields (personaldetails page). We would like a dynamic dropdown based approach for adding social links where the social media names are listed in a dropdown and the corresponding values can be added in an input box. A user should be able to input as many social links as possible using add button

[2020-09-25 11:38] d2Anubis commented on #29
I would like to work on this.

[2020-09-25 11:39] dhairyaj opened #32 "[FEATURE]Clone this template into HTML (template10)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1SdUNn10l1t0Wiu1ar1n-NiAY4ktXtTC7/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:40] dhairyaj commented on #29
Alright, @d2Anubis  . This issue would be assigned to you. Thanks for showing interest and remember to start this, to keep updated with the activities going on in this repository.

[2020-09-25 11:42] dhairyaj opened #33 "[FEATURE]Clone this template into LATEX (template10)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1SdUNn10l1t0Wiu1ar1n-NiAY4ktXtTC7/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:43] dhairyaj opened #34 "[FEATURE]Clone this template into HTML (template11)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1GhphGV1g5hs7XiOp9KMcMkZSV_gLS9J8/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:45] dhairyaj opened #35 "[FEATURE]Clone this template into LATEX (template11)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1GhphGV1g5hs7XiOp9KMcMkZSV_gLS9J8/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:46] frankhart2018 opened #36 "[FEATURE] Side by side template rendered"
**Describe the solution you'd like**
 Currently a user can only see what the resume looks like with his/her values at the end. We would like a renderer that renders the filled resume as the user fills each tab.

<strong>Note:</strong> You only start working on the feature if a maintainer approves that request in discussion.

[2020-09-25 11:47] dhairyaj opened #37 "[FEATURE]Clone this template into HTML (template12)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1eHWyufDaXhq9Qmaz8cct73LJ4QP64WMo/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-25 11:48] dhairyaj opened #38 "[FEATURE]Clone this template into LATEX (template12)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1eHWyufDaXhq9Qmaz8cct73LJ4QP64WMo/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-25 11:49] frankhart2018 opened #39 "[FEATURE] UI improvement for templateselect endpoint"
**Describe the solution you'd like**
The templateselect endpoint (/templateselect) shows only 3 templates per page. In this issue we propose that 3 rows each of 3 resumes be shown in a page (i.e. a total of 9 resumes should be shown in one page).

<strong>Note:</strong> You only start working on the feature if a maintainer approves that request in discussion.

[2020-09-25 12:05] NirmalKumarJoshi commented on #34
Hey @dhairyaj . I would like to work on it after it is allowed. Please assign this to me.

[2020-09-25 12:09] dhairyaj commented on #34
Sure, @NirmalKumarJoshi  . It would be assigned to you. Thanks for showing interest and remember to star this, to keep updated with the activities going on in this repository.

[2020-09-25 12:19] NirmalKumarJoshi commented on #34
@dhairyaj From when can I start working on it?

[2020-09-25 12:27] dhairyaj commented on #34
Whenever you want to @NirmalKumarJoshi

[2020-09-25 12:29] NirmalKumarJoshi commented on #34
Okay thanks. @dhairyaj .
But one concern, I am not able to setup the project as the requirements.txt is still ot present. Can you please guide me to setup the same!

[2020-09-25 12:35] frankhart2018 commented on #34
Hey @NirmalKumarJoshi, you can start cloning. I will be adding the requirements file soon. You don't have to run TB webapp in order to create the template clone.

[2020-09-25 14:21] NirmalKumarJoshi commented on #34
Okay. Will I be able to see the changes if the backend is not setup?

[2020-09-25 14:22] frankhart2018 commented on #34
Changes as in?

[2020-09-25 14:23] NirmalKumarJoshi commented on #34
The HTML changes after I create the clone.

[2020-09-25 14:25] frankhart2018 commented on #34
But how does that relate to the backend? You clone the template with the placeholders and then submit it for review. That will then be used by other people. But during creation of the template's HTML you can see what you are making right from your browser right?

[2020-09-25 14:26] NirmalKumarJoshi commented on #34
Okay thanks. Will do that :)

[2020-09-25 14:27] frankhart2018 commented on #34
Great. Hope I could help you.

[2020-09-25 14:27] frankhart2018 commented on #34
Also I have pushed requirements.txt, if you want you can check that out too.

[2020-09-25 14:28] NirmalKumarJoshi commented on #34
Awesome. Thanks @frankhart2018 . Now i will try to do the complete setup.

[2020-09-25 14:28] frankhart2018 commented on #34
Sure

[2020-09-25 14:35] NirmalKumarJoshi commented on #34
Hey I am getting this error here and same in the browser as well.
![Screenshot from 2020-09-25 20-04-31](https://user-images.githubusercontent.com/29129357/94279974-7dc68580-ff6a-11ea-8b53-b4c6dce3e6fc.png)

[2020-09-25 14:39] frankhart2018 commented on #34
Fixed this, pull now. Thanks for reporting this bug.

[2020-09-25 14:46] NirmalKumarJoshi commented on #34
Getting the same again. I guess there is a 'f' alphabet which is creating issue. Should I make the fix?

[2020-09-25 14:47] frankhart2018 commented on #34
Can you share the screenshot?

[2020-09-26 07:00] NirmalKumarJoshi commented on #34
![error](https://user-images.githubusercontent.com/29129357/94332575-0f2e0a00-fff4-11ea-8bdb-8c7a9b19846e.png)
This comes when I run the localhost. I have pulled the recent code as well but still getting this.

[2020-09-26 07:48] rishavjaiss commented on #37
Hi, what I can understand is this require the pdf resume to be coded in HTML right? I am ready to contribute here.

[2020-09-26 08:55] dhairyaj commented on #37
@rishavjaiss , yes you understood correctly. The pdf is just for format. You have to make a webpage looking exactly like the pdf but refer to the templates that are present in the repository for further understanding. Our maintainers are updating the instructions so that your contribution experience could be smoother and easier. Thank you for contributing. Would assign this issue to you.

[2020-09-26 09:03] frankhart2018 commented on #34
Hey @NirmalKumarJoshi can you send the following details:-

1) OS name and version
2) Python version
3) The command you are using to start the server

Because I tested in windows, macOS and linux and everywhere it is working fine.

[2020-09-26 09:17] dhairyaj commented on #34
@NirmalKumarJoshi , though it's great that you are finding some bugs in the project but its still a bit incomplete on the backend part and our developers are working on it. So, some things might be broken. Rest assured, you donot need to setup the project in your system in order to create the template clone that was assigned to you. So you can get working on it. Thanks

[2020-09-26 14:13] rishavjaiss commented on #37
Ok, I'll make the skeleton in HTML of this pdf document.

[2020-09-26 16:26] 0sf commented on #32
I would like to work on this issue.

[2020-09-26 16:30] frankhart2018 commented on #32
Sure @0sf. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 14:04] rishavjaiss commented on #27
Hi, I can make this resume's skeleton in HTML.

[2020-09-27 14:05] frankhart2018 commented on #27
Sure @rishavjaiss. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 14:06] rishavjaiss commented on #27
I'll make pr after 1st Oct when the Hacktoberfest starts. I hope that is okay.

[2020-09-27 14:09] frankhart2018 commented on #27
Yeah that works, the only condition we have is submitting PR within 7 days of getting assigned (as you might have read in CONTRIBUTING.md). So, as long as you submit within 7 days we don't have any issue.

[2020-09-27 14:36] rishavjaiss commented on #27
Hey, I had some queries, I am supposed to just make the .html file as per the pdf right? No styling as I can make out by the issue heading. Also can you tell me exactly in which folder you want the html file to be put in the branch 8?

[2020-09-27 15:00] dhairyaj commented on #27
@rishavjaiss You have to make the stylesheet as well. Cloning means the new clone should resemble the one which is being cloned. Read the readme file. Clear instructions are written there, how and where to keep the files.

[2020-09-27 15:06] rishavjaiss commented on #27
Oh!, I am completely new to this open source contribution thing. I didn't go through the repo and made a silly judgement. Please consider somebody else for this. Sorry.

[2020-09-27 15:07] rishavjaiss commented on #37
Hey, I am completely new to this open source contribution thing. I didn't go through the repo and made a silly judgement. I was thinking that this needs only the .html file and not the stylesheet. Please consider somebody else for this. Sorry.

[2020-09-27 15:07] frankhart2018 commented on #27
No worries @rishavjaiss. Do not lose hope. We understand first time can be a bit confusing. Give this a try and if you cannot complete within 7 days then we will reassign it to someone else.

[2020-09-27 15:13] SanjayJn commented on #22
Hey @dhairyaj , I would like to take this.

[2020-09-27 15:14] SanjayJn commented on #24
@dhairyaj , would like to take this

[2020-09-27 15:30] frankhart2018 commented on #22
Sure @SanjayJn. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-27 15:31] frankhart2018 commented on #24
Sure @SanjayJn. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 06:46] HimadriPathak commented on #10
can i do this

[2020-09-28 06:49] dhairyaj commented on #10
Sure @HimadriPathak , assigning this to you.

[2020-09-28 08:52] ventodeco commented on #11
I would like to work on this issue.

[2020-09-28 08:54] ventodeco commented on #33
I would like to work on this issue.

[2020-09-28 08:55] ventodeco commented on #35
I would like to work on this issue.

[2020-09-28 08:56] ventodeco commented on #38
I would like to work on this issue.

[2020-09-28 08:58] ventodeco commented on #29
I would like to work on this issue.

[2020-09-28 09:01] dhairyaj commented on #38
sure @ventodeco , Will assign you this. Thanks for contributing.

[2020-09-28 09:02] dhairyaj commented on #35
Sure, would assign you this @ventodeco

[2020-09-28 09:03] dhairyaj commented on #33
Sure thing @ventodeco , would assign you this.

[2020-09-28 09:04] dhairyaj commented on #29
Okay @ventodeco , would assign this issue to you.

[2020-09-28 09:19] dhairyaj opened #41 "[FEATURE]Clone this template into HTML (template20)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1qVUHW-s3jhQSloqdEcRIdI5iGtwAyXvC/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:20] dhairyaj opened #42 "[FEATURE]Clone this template into LATEX (template20)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1qVUHW-s3jhQSloqdEcRIdI5iGtwAyXvC/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 09:21] dhairyaj opened #43 "[FEATURE]Clone this template into HTML (template21)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1O_dCirzSOvsGFQqDr7KfXV6T884bQ_yH/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:21] dhairyaj opened #44 "[FEATURE]Clone this template into LATEX (template21)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1O_dCirzSOvsGFQqDr7KfXV6T884bQ_yH/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 09:22] dhairyaj opened #45 "[FEATURE]Clone this template into HTML (template22)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1WDt_zKqagkwPKNiad1DAl4xtASSYSCv9/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:23] dhairyaj opened #46 "[FEATURE]Clone this template into LATEX (template22)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1WDt_zKqagkwPKNiad1DAl4xtASSYSCv9/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 09:23] dhairyaj opened #47 "[FEATURE]Clone this template into HTML (template23)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1yPBAgSj3KRCtl0fxMmnHqcbBj6StuHY3/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:24] dhairyaj opened #48 "[FEATURE]Clone this template into LATEX (template23)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1yPBAgSj3KRCtl0fxMmnHqcbBj6StuHY3/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 09:24] dhairyaj opened #49 "[FEATURE]Clone this template into HTML (template24)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1e58lCwn0mHRHolm6AkNWS8jxza4LmRfb/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:25] dhairyaj opened #50 "[FEATURE]Clone this template into LATEX (template24)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1e58lCwn0mHRHolm6AkNWS8jxza4LmRfb/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 09:26] dhairyaj opened #51 "[FEATURE]Clone this template into HTML (template25)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1XDOlpriLLny9zhlZjTlIE8feIO5dwnW6/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

<stron

[2020-09-28 09:26] dhairyaj opened #52 "[FEATURE]Clone this template into LATEX (template25)"
**Describe the solution you'd like**
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1XDOlpriLLny9zhlZjTlIE8feIO5dwnW6/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

[2020-09-28 11:45] Sau28 commented on #52
I would like to work on this issue.

[2020-09-28 11:47] frankhart2018 commented on #52
Sure @Sau28. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 13:50] animeshbhakat commented on #41
I would like to work on this...

[2020-09-28 15:03] qwerty-rgb commented on #49
sir can you guide me what exactly we need to do

[2020-09-28 15:11] frankhart2018 commented on #41
Sure @animeshbhakat. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 16:06] dhairyaj commented on #49
@qwerty-rgb , download the pdf, and create a webpage with the same styling as the pdf. Refer to the templates already present in the repository in the location static/resume_templates/html and static/resume_templates/css for example. Refer static/resume_templates/format/format.txt for handlebars. Consult the README.md and contributing.md for more instructions.

[2020-09-28 18:18] RitikPPatel05 commented on #49
I would like to work on this. Thank you.

[2020-09-28 18:18] Manoj13-coder commented on #47
Assign it to me

[2020-09-28 18:21] frankhart2018 commented on #49
Sure @RitikPPatel05. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-28 18:22] frankhart2018 commented on #47
Sure @Manoj13-coder. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 04:14] Riya-code commented on #31
@frankhart2018 Can I take it?

[2020-09-29 04:49] tanya4067 commented on #51
Hey, I'd like to contribute

[2020-09-29 06:43] frankhart2018 commented on #31
Sure @Riya-code. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 06:45] frankhart2018 commented on #51
Sure @tanya4067. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 07:02] tanya4067 commented on #51
Thank You

On Tue, Sep 29, 2020 at 12:15 PM Siddhartha Dhar Choudhury <
notifications@github.com> wrote:

[2020-09-29 07:49] dhairyaj commented on #49
sure @RitikPPatel05 , I would assign this issue to you.

[2020-09-29 07:58] dhairyaj opened #53 "[FEATURE]Clone this template into HTML (template26)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1IGExgOAkH-RghAsI61VfAsxKDD0fiPMA/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 07:59] dhairyaj opened #54 "[FEATURE]Clone this template into LATEX (template26)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1IGExgOAkH-RghAsI61VfAsxKDD0fiPMA/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 08:00] dhairyaj opened #55 "[FEATURE]Clone this template into HTML (template27)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1c1B7euV4UoTzOCE79rKoz-LLlMTwcHTr/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 08:01] dhairyaj opened #56 "[FEATURE]Clone this template into LATEX (template27)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1c1B7euV4UoTzOCE79rKoz-LLlMTwcHTr/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 08:02] dhairyaj opened #57 "[FEATURE]Clone this template into HTML (template28)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1wmXaxaVIZiJHepwIPsGTj9yNMB0FJMUp/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 08:02] dhairyaj opened #58 "[FEATURE]Clone this template into LATEX (template28)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1wmXaxaVIZiJHepwIPsGTj9yNMB0FJMUp/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 08:03] dhairyaj opened #59 "[FEATURE]Clone this template into HTML (template29)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1ipLgPdT4GtkwVGlA54QQtKc1NTAuKJ9c/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 08:04] dhairyaj opened #60 "[FEATURE]Clone this template into LATEX (template29)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1ipLgPdT4GtkwVGlA54QQtKc1NTAuKJ9c/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 08:05] dhairyaj opened #61 "[FEATURE]Clone this template into HTML (template30)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1HIFmGYxVRREwuaz0qqYkpaxmMIaUOeJi/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 08:06] dhairyaj opened #62 "[FEATURE]Clone this template into LATEX (template30)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1HIFmGYxVRREwuaz0qqYkpaxmMIaUOeJi/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 08:08] dhairyaj opened #63 "[FEATURE]Clone this template into HTML (template31)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the html format.
Click [here](https://drive.google.com/file/d/1kCOErGLsJY2ohJAaZbG5EEQAyWMuZbRV/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

Note: You

[2020-09-29 08:08] dhairyaj opened #64 "[FEATURE]Clone this template into LATEX (template31)"
Describe the solution you'd like
Given below is the link to the template. Download it and create the latex format (.tex).
Click [here](https://drive.google.com/file/d/1kCOErGLsJY2ohJAaZbG5EEQAyWMuZbRV/view?usp=sharing) to download the file.

There would be a file format.txt in static/resume_templates/format. This file would contain all the placeholders that are to be put exactly in your clone.

No

[2020-09-29 09:47] yashkansal commented on #63
Can I use CSS and HTML both to make this template.

[2020-09-29 13:09] varunks99 commented on #57
@dhairyaj, I am willing to take this up.

[2020-09-29 13:10] frankhart2018 commented on #57
Sure @varunks99. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 13:10] mt-evarest commented on #55
Hi!
This is my first Hacktoberfest, can I please work on this?

[2020-09-29 13:12] frankhart2018 commented on #55
Sure @mt-evarest. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-29 17:10] varunks99 commented on #57
Just a quick query, can I use Bootstrap or not?

[2020-09-29 17:27] frankhart2018 commented on #57
Yes you can @varunks99.

[2020-09-30 06:15] sagrawal9689 commented on #53
can I work on this issue for hacktoberfest.

[2020-09-30 06:27] frankhart2018 commented on #53
Sure @sagrawal9689. Assigning this to you. Thanks for showing interest to contribute.

[2020-09-30 11:48] frankhart2018 commented on #63
Yes you can

[2020-09-30 13:26] frankhart2018 commented on #26
Merged, thanks for your contribution @Xetaphore.

[2020-09-30 13:26] #26 closed

[2020-09-30 13:28] frankhart2018 commented on #19
Merged, thanks for your contribution @siddharthaml.

[2020-09-30 13:28] #19 closed

[2020-09-30 13:29] frankhart2018 commented on #25
Merged, thanks for your contribution @dhairyaj.

[2020-09-30 13:29] #25 closed

[2020-09-30 13:30] frankhart2018 commented on #20
Merged, thanks for your contribution @siddharthaml

[2020-09-30 13:30] #20 closed

[2020-09-30 15:27] #24 closed

[2020-09-30 15:28] #22 closed

[2020-10-01 05:50] ayyelle commented on #43
Hi, if this issue is still available, I would love to take a crack at it! I'm usually a Java/Kotlin BE developer but I would love to brush up on my HTML and CSS skills! :D

[2020-10-01 07:48] dhairyaj commented on #43
Hey @ayyelle , this issue is still available. Assigning this to you. Thanks for considering to contribute here

[2020-10-01 08:22] pritamnegi commented on #64
@dhairyaj Can i work on this issue?

[2020-10-01 08:59] kanikamittal1811 commented on #61
@dhairyaj I would like to work on this could you assign it to me

[2020-10-01 09:27] dhairyaj commented on #23
Merged

[2020-10-01 09:27] #23 closed

[2020-10-01 10:41] dhairyaj commented on #41
Merged

[2020-10-01 10:41] #41 closed

[2020-10-01 11:37] #57 closed

[2020-10-01 12:14] frankhart2018 commented on #53
Merged, thanks for your contribution @Priyanshu-official.

[2020-10-01 12:14] #53 closed

[2020-10-01 14:23] mt-evarest commented on #55
Pull Request #77 created for this issue :)

[2020-10-01 15:16] Riya-code commented on #42
Can I take it?

[2020-10-01 15:28] dhairyaj commented on #64
Sure @pritamnegi , will assign this to you.

[2020-10-01 15:35] DEAThWALNUt commented on #56
Hey! new to github wanna participate in hactoberfest can you assign me this task?

[2020-10-01 15:52] DEAThWALNUt commented on #62
Can you assign me this task?

[2020-10-02 07:45] dhairyaj commented on #55
Merged

[2020-10-02 07:45] #55 closed

[2020-10-02 13:06] marceloFA commented on #62
Can I have this one?

[2020-10-02 14:50] dhairyaj commented on #62
sure @marceloFA . Would assign this issue to you. Thanks

[2020-10-02 16:39] marceloFA commented on #62
Actually, I noticed that this might be a duplicate CV template. Look at #69. Can you confirm this is a duplicate template? If yes, should I proceed anyway?

[2020-10-02 16:40] marceloFA commented on #62
Unrelated to this issue: Do you intend to open issues related to Flask? refactoring the application in smaller parts or implementing new features maybe? @dhairyaj

[2020-10-02 16:43] dhairyaj commented on #62
@marceloFA they are different. You can proceed
And yes we do intend to open issues related to flask. if you find any or have some enhancement, you re welcome to open an issue

[2020-10-03 11:48] lucid-dreem commented on #59
Hey, could I be assigned this issue?

[2020-10-03 12:07] dhairyaj commented on #59
Sure @lucid-dreem , will assign this to you.

[2020-10-03 13:40] jackneer commented on #10
@dhairyaj @HimadriPathak I'd like to this.

[2020-10-03 13:42] dhairyaj commented on #10
@jackneer wait for the approval from @HimadriPathak . If the user passes on the issue to you or removes him/her from the assignee, you can take this.

[2020-10-03 13:44] dhairyaj commented on #10
Okay @jackneer  you can start working on this issue. Will accept the PR on FCFS basis.

[2020-10-03 15:38] geeks5551 commented on #36
hey, can I contribute to this issue? styling can be done using advanced HTML, CSS, and js ? can you assign me this issue

[2020-10-03 15:40] geeks5551 commented on #45
hey, can I contribute to this issue "Clone this template into HTML" ? looking really interesting

[2020-10-03 19:32] dhairyaj commented on #45
Sure @geeks5551 , assigning this to you.

[2020-10-03 19:33] dhairyaj commented on #36
sure. Will assign this to you @geeks5551

[2020-10-04 02:21] jackneer commented on #10
may I ask why use dd/yyyy over dd/mm/yyyy?

[2020-10-04 03:15] pritamnegi commented on #64
Hi @dhairyaj unassigning myself from the task

[2020-10-04 16:16] frankhart2018 commented on #10
Sorry it is mm/yyyy and not dd/yyyy that was an error from our side.

[2020-10-04 18:42] rajviparekh commented on #49
How do I get assigned to this project?

[2020-10-04 18:45] frankhart2018 commented on #49
Sure @rajviparekh. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-04 18:59] rajviparekh commented on #49
Ok so I am very new to this, so I understood what I need to do regarding the template but I am a bit confused with the github part, like what exactly do I have to fork and where do i create a pull request exactly

[2020-10-05 06:28] souravroy-test commented on #47
@dhairyaj can you assign this to me, please?

[2020-10-05 08:04] frankhart2018 commented on #47
Sure @souravroy-test. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-05 08:19] dhairyaj commented on #49
Hey @rajviparekh , go to the top of the page in the repository. There on the right side you can see the options watch, star and fork.
Click on the watch option to stay updated about the repository, the star is given to appraise the developers and fork is clicked to get the copy of the repository in your profile. As soon as you click on fork, it shows up in your repository list.
Create a new branch

[2020-10-05 10:37] rajviparekh commented on #49
Okay thank you so much!

[2020-10-05 16:11] Meghana-12 commented on #60
I'd like to work on this !

[2020-10-05 16:12] Meghana-12 commented on #56
I'd like to work on this!

[2020-10-06 09:13] dhairyaj commented on #60
Sure @Meghana-12 , will assign this to you.

[2020-10-06 09:14] dhairyaj commented on #56
Sure, will assign this to you @Meghana-12

[2020-10-06 10:23] iamvaishnav commented on #63
I would like to work on this issue.

[2020-10-06 16:32] frankhart2018 commented on #63
Sure @iamvaishnav. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-07 11:31] dhairyaj commented on #43
Merged

[2020-10-07 11:31] #43 closed

[2020-10-08 10:40] hDmtP commented on #54
Understood!
Can I have the opportunity to work on it?

[2020-10-08 10:56] iamvaishnav commented on #63
Hey, I need help. What should I put in place of D.O.B and Nationality. Currently, there are no placeholders for them in format.txt in static/resume_templates/format.

[2020-10-08 11:02] dtmkeng commented on #32
@dhairyaj  I would like to work on this could you assign it to me

[2020-10-08 11:03] frankhart2018 commented on #54
Sure @hDmtP. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 11:07] frankhart2018 commented on #63
Leave these two from the template.

[2020-10-08 11:09] frankhart2018 commented on #32
Sure @dtmkeng. Assigning this to you. Thanks for showing interest to contribute.

[2020-10-08 11:13] iamvaishnav commented on #63
Okay then I'm leaving it blank

[2020-10-08 11:14] frankhart2018 commented on #63
No don't clone that, leave that part out. Like don't put DOB and Nationality in your cloned HTML.

[2020-10-08 11:32] hDmtP commented on #54
Thanks :)

[2020-10-08 14:46] dhairyaj commented on #54
Merged.

[2020-10-08 14:46] #54 closed

[2020-10-08 14:47] iamvaishnav commented on #63
Okay will do that.

[2020-10-09 08:05] Iampradeepkundra commented on #64
i would like to work on this

[2020-10-09 15:24] #32 closed

[2020-10-09 17:25] purnima143 commented on #50
@dhairyaj  Can I work on this?

[2020-10-09 18:20] iamvaishnav commented on #63
There are no placeholders for languages. Should I leave that as well?

[2020-10-10 13:01] kunal202 commented on #37
Hi, I would like to work on this issue @dhairyaj

[2020-10-10 13:09] dhairyaj commented on #64
Sure @Iampradeepkundra , will assign this to you.

[2020-10-10 13:11] dhairyaj commented on #50
Sure @purnima143 , will assign this to you.

[2020-10-10 13:52] purnima143 commented on #50
@dhairyaj  I have to convert this template to HTML naa?

[2020-10-11 09:06] iamvaishnav commented on #51
I would like to work on this issue

[2020-10-11 09:10] iamvaishnav commented on #47
I would like to work on this issue

[2020-10-11 12:42] purnima143 commented on #51
Can i work on this?

[2020-10-11 13:09] dhairyaj commented on #63
Merged

[2020-10-11 13:09] #63 closed

[2020-10-11 13:13] dhairyaj commented on #51
Sure @purnima143 , will assign this to you.

[2020-10-11 13:15] dhairyaj commented on #47
Sure @iamvaishnav , will assign this to you.

[2020-10-11 13:18] dhairyaj commented on #37
Hi @kunal202 , thanks for considering to contribute here.
Don't worry, you don't actually need to convert his into French. You would just have to look the English version of section headings as you have to put placeholders everywhere instead of the hard coded data. The placeholders are present in the static/resume_templates/format location. You can refer to other template examples on how to use th

[2020-10-11 13:18] dhairyaj commented on #37
I will assign this issue to you @kunal202

[2020-10-12 14:21] #47 closed

[2020-10-13 11:41] purnima143 commented on #51
@dhairyaj  Done with PR. Kindly check it #91 , if any changes required let me know.

[2020-10-13 15:48] kunal202 commented on #37
Hi there are no placeholders for some fields for this template eg- Date of Birth, categorized Skill Set (Competences), Languages, Strengths, Project link, References. so what should i do about them ?

[2020-10-14 09:27] dhairyaj commented on #37
The fields which do not have placeholders can be left out.

[2020-10-15 11:44] dhairyaj commented on #51
Merged

[2020-10-15 11:44] #51 closed

[2020-10-15 11:46] dhairyaj commented on #37
Merged

[2020-10-15 11:46] #37 closed

[2020-10-16 12:31] samriddhisv commented on #49
hey, I'd like to contribute to this!

[2020-10-16 12:33] samriddhisv commented on #61
hey, I'd like to contribute to this. This will be my first open-source contribution, can please more insight into the task?

[2020-10-16 12:49] kunal202 commented on #27
hi, i would like to work on this issue

[2020-10-16 14:07] dhairyaj commented on #27
Sure, would assign this to you @kunal202

[2020-10-16 14:08] dhairyaj commented on #49
Sure @samriddhisv , will assign this to you.

[2020-10-16 14:11] dhairyaj commented on #61
Sure @samriddhisv , will assign this to you. Just download the pdf and clone it using html and css.
Use placeholders that could be found in the location static/resume_templates/format.
Use the other templates present as reference.

[2020-10-16 16:12] Dilip-Jain commented on #59
Hey, I can help you with this. Please assign it to me.

[2020-10-17 17:12] kunal202 commented on #29
I would like to work on this issue

[2020-10-18 09:30] dhairyaj commented on #27
Merged.

[2020-10-18 09:30] #27 closed

[2020-10-18 09:31] dhairyaj commented on #59
Sure @Dilip-Jain , will assign this to you.

[2020-10-18 09:32] dhairyaj commented on #29
Sure @kunal202 , will assign this to you.

[2020-10-20 05:20] iamvishnukalyan commented on #56
@dhairyaj I'm interested to work on this issue

[2020-10-21 05:10] Dilip-Jain commented on #59
I have started working on the template, thanks for assigning it to me. I am currently stuck at something called "References". I couldn't find anything related to it in the format.txt. Help me with this.

[2020-10-21 09:20] frankhart2018 commented on #59
@Dilip-Jain all the fields that we support from our webapp are listed in format.txt, references is something that we still don't support, so you can leave that part out.

[2020-10-22 15:03] dhairyaj commented on #45
Sure @kunal202 .. Assigning this to you.

[2020-10-24 19:52] dhairyaj commented on #59
Merged.

[2020-10-24 19:52] #59 closed

[2020-10-24 19:54] dhairyaj commented on #45
Merged.

[2020-10-24 19:54] #45 closed

[2020-12-04 19:42] dhairyaj opened #100 "[BUG] Uploaded profile picture not visible"
**Describe the bug**
After the user uploads his profile picture and saves the information when he revisits the profile picture cannot be viewed by clicking on the view button.

**Screenshots**
![profile picture upload error](https://user-images.githubusercontent.com/31620568/101207586-d4e98480-3696-11eb-992a-a19301e91319.jpg)

[2020-12-04 19:54] dhairyaj opened #101 "[BUG] Grade placeholder empty after adding a record"
**Describe the bug**
After adding the first record in the education details, the default value of "GPA" is not present.

[2020-12-04 19:59] #64 closed

[2020-12-04 19:59] #60 closed

[2020-12-04 19:59] #58 closed

[2020-12-04 19:59] #56 closed

[2020-12-04 19:59] #52 closed

[2020-12-04 21:01] 080273 opened #102 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-04 21:02] frankhart2018 commented on #102
Don't create spam issues.

[2020-12-04 21:02] #102 closed

[2020-12-05 14:06] haripriya9647 commented on #101
@dhairyaj can you please assign it to me??

[2020-12-05 15:21] frankhart2018 commented on #101
Sure @haripriya9647 assigning this to you.

[2020-12-05 17:11] shikharcodes commented on #49
Hey @dhairyaj, I think that you want an html page to be made on the template design that you have attached.
I would like to work on this issue. Please assign me this.
If you expect something more to be added, please do tell me too.

[2020-12-05 17:22] shikharcodes commented on #61
Hey @dhairyaj , I would like to work on this. Can you please assign me this issue?
I think you expect me to create an html page exactly like the attached template.
Thank You

[2020-12-05 17:27] shikharcodes commented on #21
Hey @dhairyaj , I would love to work on this. Can u assign me this issue please?
Thank You

[2020-12-05 18:09] iamkrati22 commented on #61
Hey @dhairyaj, I would like to work on this issue. Please assign this to me.

[2020-12-05 18:49] dhairyaj commented on #61
Sure. Assigning this to you.

[2020-12-05 18:51] dhairyaj commented on #49
Sure. Assigning this to you.
You have to make a similar webpage using html, css as the template attached. Refer to the templates present in the repository for more clarification.

[2020-12-05 18:52] dhairyaj commented on #21
Sure. Assigning this to you.

[2020-12-06 06:54] anushkasinghal11 commented on #10
Can you assign this to me?

[2020-12-06 08:18] namantiwari2002 commented on #17
Hey , kindly assign this task to me

[2020-12-06 08:37] dhairyaj commented on #17
Sure @namantiwari2002 , will assign this to you.

[2020-12-06 09:32] namantiwari2002 commented on #17
done , check the pull request

[2020-12-06 15:21] devtechnocode commented on #34
Hello @dhairyaj, I would like to work on this issue. Please assign this to me.

[2020-12-07 01:26] ineffable23 commented on #34
@dhairyaj I'm highly interested to work on this issue please assign it to me.

[2020-12-07 06:04] kashc11 commented on #62
Hi, I'd like to work on this. Can you assign it to me?

[2020-12-07 06:08] dhairyaj commented on #62
Sure @kashc11 , will assign this to you.

[2020-12-07 06:10] dhairyaj commented on #34
Sure @devtechnocode will assign this to you.

[2020-12-07 06:11] dhairyaj commented on #34
@ineffable23 , @devtechnocode asked for it first. You can pick any other issue as well. If you don't find any other issue of  your interest, we would be adding some more issue by today evening. Thanks

[2020-12-07 07:51] Abjcodes commented on #100
Hey @dhairyaj, I would like to work on this.

[2020-12-07 15:18] Sabreen-Parveen commented on #10
I would like to work on this issue. Please assign it to me.

[2020-12-08 14:56] frankhart2018 commented on #10
Assigning this to you @Sabreen-Parveen.

[2020-12-08 15:03] frankhart2018 commented on #100
Assigning this to you @Abjcodes.

[2020-12-08 15:03] dhairyaj commented on #100
Sure @Abjcodes , assigning this to you.

[2020-12-08 16:45] Naman-1234 commented on #11
I would like to work on this issue, Sir.

[2020-12-10 07:09] dhairyaj commented on #11
Sure @Naman-1234 , assigning this to you.

[2020-12-10 18:57] headphone-rachit commented on #39
I am interested, if you can provide me this project

[2020-12-18 08:07] dollyjain51099 commented on #5
I want to work on this issue can u please assign it to me.

[2020-12-18 08:11] dhairyaj commented on #39
Sure @headphone-rachit , assigning this to you.

[2020-12-18 08:12] dhairyaj commented on #5
Sure @dollyjain51099 , will assign this to you.

[2020-12-18 08:18] dollyjain51099 commented on #5
Can you brief me about the issue! Shall i add a toggle button to change the theme from dark to light and vice-versa?

[2020-12-18 08:22] dhairyaj commented on #5
Sure.
The first thing you can do is tweaking the existing theme. It's kind of single color but the monotone is not catchy. The current color is pink theme with skyblue active tabs. You can modify it to another theme if you like.
Apart from this, a dark theme and dark-light theme toggle button is also needed. The toggle button can be provided near the logout button.

[2020-12-18 08:24] dollyjain51099 commented on #5
okay, so for dark theme and dark-light theme toggle button can i create an issue and work on it?

[2020-12-18 08:25] dhairyaj commented on #5
you dont want to work on changing the base theme?

[2020-12-18 08:27] dollyjain51099 commented on #5
yeah, currently will be working on the base theme and on the later part create an issue and work on toggle button

[2020-12-18 08:27] dollyjain51099 commented on #5
okay

[2020-12-18 08:27] dollyjain51099 commented on #5
sure!

[2020-12-18 08:42] dhairyaj commented on #5
After completing this issue, you can create a new issue for the dark theme-light theme toggle button.

[2020-12-18 08:46] dollyjain51099 commented on #5
okay!

[2020-12-18 12:27] dollyjain51099 commented on #5
![theme](https://user-images.githubusercontent.com/54888610/102614495-58f14100-415a-11eb-9608-d8381569f1fe.png)
Please check whether the color theme is fine!

[2020-12-18 12:50] frankhart2018 commented on #5
@dollyjain51099 I don't think having so many different colors looks good. I guess the login/signup UI looks good as is, this issue mostly focusses on the UI for the pages which are presented to the user after he/she logs in :).

[2020-12-18 12:53] frankhart2018 opened #105 "[FEATURE] Light theme/Dark Theme toggle button."
**Describe the solution you'd like**
A toggle button somewhere in the navbar which allows a user to change between light and dark modes.

[2020-12-18 12:56] frankhart2018 commented on #5
Created issue for dark-light theme toggle button. #105. Please post a comment on that, GitHub doesn't allow assignees who haven't posted a comment on the issue unless the person is a core dev.

[2020-12-18 13:28] dollyjain51099 commented on #105
I would like to take this issue, please assign it to me!

[2020-12-18 13:28] dollyjain51099 commented on #5
Sure!

[2020-12-18 18:06] frankhart2018 commented on #105
Sure assigning it to you @dollyjain51099.

[2020-12-19 16:30] Ak-panchal commented on #48
Can you please assign this issue to me?

[2020-12-19 16:40] Ak-panchal commented on #46
Can you please assign this issue to me?

[2020-12-19 16:41] Ak-panchal commented on #44
Can you please assign this issue to me?

[2020-12-19 16:42] Ak-panchal commented on #42
Can you please assign this issue to me?

[2020-12-19 16:43] Ak-panchal commented on #33
Can you please assign this issue to me?

[2020-12-19 16:45] Ak-panchal commented on #30
Can you please assign this issue to me?

[2020-12-20 06:45] Ak-panchal commented on #62
Can you assign it to me?

[2020-12-20 06:56] dhairyaj commented on #49
Merged

[2020-12-20 06:56] #49 closed

[2020-12-20 06:57] dhairyaj commented on #61
Merged.

[2020-12-20 06:57] #61 closed

[2020-12-20 06:57] dhairyaj commented on #48
Sure @Ak-panchal

[2020-12-20 06:57] dhairyaj commented on #46
Sure @Ak-panchal , assigning this to you.

[2020-12-20 06:58] dhairyaj commented on #44
Sure @Ak-panchal , assigning this to you.

[2020-12-20 06:58] dhairyaj commented on #42
Sure @Ak-panchal , assigning this to you.

[2020-12-20 10:17] Ak-panchal commented on #50
can u assign this issue to me?

[2020-12-27 11:41] dhairyaj commented on #17
Merged.

[2020-12-27 11:41] frankhart2018 commented on #17
Merged.

[2020-12-27 11:41] #17 closed

[2020-12-27 12:36] dhairyaj commented on #18
Commited directly to master.

[2020-12-27 12:36] #18 closed

[2020-12-27 12:57] #101 closed

[2020-12-27 14:13] frankhart2018 commented on #10
Merged closing this.

[2020-12-27 14:15] frankhart2018 commented on #9
Merged closing this.

[2020-12-27 14:15] #9 closed

[2021-01-01 18:20] tusharnankani commented on #39
I would like to work on this!

[2021-01-01 18:37] frankhart2018 commented on #39
Sure assigning this to you @tusharnankani

[2021-01-05 12:28] #39 closed